.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	margin-top: $size__entry-header-height - 80px;
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

@media(max-width: 500px){
	.site-content .widget-area{
		margin-top: 0;
		float: none;
		width: 100%;
	}
	.content-area {
		float: none;
		margin: 0;
		width: $size__site-main;
	}
	.site-main {
		margin: 0;
	}
	.widget_nav_menu{
		position: static;
		width: 100%;
	}
	#nav_menu-3{
		width: 100%;
		//position: static !important;
		z-index: -1;
	}
	.invisi_div{
		display: none;
	}

}

//@import "no-sidebar";
