.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.element-is-sticky{
	box-shadow: 5px 10px 8px #888888;
}

#nav_menu-3{
	width: 100%;

	z-index: -1;
}
