$color__main: #006A94;
$color__accent: #00A1E0;
$color__accent-2: #0073A1;
$color__dark: #003C55;
$color__dark-2:#00587A;
$color__light-blue: #036b95;
$color__lightish-blue: #08a8aa;

$color__charcoal: #333;

$color__background-body: #d4e5e8;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__accent;
$color__background-button-hover: darken($color__accent,5%);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: royalblue;
$color__link-hover: midnightblue;
$color__text-main: $color__charcoal;

$color__border-button: $color__lightish-blue;
$color__border-button-hover: $color__accent;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-header-1: rgba(255,255,255,0.8);
$color__background-header-2: rgba(255,255,255,0.4);
$color__background-header-3: rgba(255,255,255,0);
