.invisi_div .widget_nav_menu{
	position: relative;
	left: 100px;
	z-index: -3;
	width: 100%;
}
.widget_nav_menu{
	position: absolute;
	right: 0;
	width: $size__site-sidebar;
	background-color: white;
	padding: 15px;
	//border: 1px black solid;
	border-radius: 5px 0px 0px 5px;
	ul{
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li{
				margin-bottom: 10px;
		}
	}

	a {
		display: block;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link-hover;
		text-decoration: underline;
	}
}
