.site-footer{
	//padding: 50px 0px 0px 0px;
	background-color: $color__dark-2;
}

.site-info{
	background-color: $color__dark;
	color: #ffffff;
	padding: 10px 0px;
	text-align: center;
}

.footer-text{
	color: #ffffff;
	margin: 0;
	text-align: center;
}

.footer-logo{
	margin: 0 auto;
	display: block;
}

.footer-grid{
	min-height: 200px;
}
