.site-branding{
	width: $size__site-branding;

	display: inline-block;
	z-index: 2;
}

.menu-bar{
	width: 100%;
	
	background: linear-gradient($color__background-header-1 50%, $color__background-header-2 90%, $color__background-header-3 100%);
	z-index: 2;
}

.n2-section-smartslider{
	z-index: 1;
}
