.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content{
	padding: 0 100px;
}


.announcement-section{
	background-color: $color__background-hr;
	margin:100px 0px;
	padding: 50px 25px;
	list-style: none;

}

.image-wrap{
	padding: 15px;
	background-color: $color__background-hr;
}
